.div-secao-principal {
    background-image: url('../img/secao-principal/fundo.png');
    background-position: center;
    background-size: cover;
    background-color: #e5e5e5;
    min-height: 600px;
    color: white;
}

.img-gorr {
    width: 100%;
    max-width: 530px;
    min-width: 470px;
    height: 600px;
}